/* ----- GOOGLE FONT ----- */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');

/* ----- STANDARD CSS ----- */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-weight: 300;
}

body{
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.4;
}

.homepageBackground{
  background-color: rgb(224, 181, 181);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) ,url("https://lh3.googleusercontent.com/proxy/Dvs7Pwb5gyyXpG38eNQb3oyj_mZ7uxFcn89fE-5HnvNZREYrprCXEHtxa65BSG702B9MXwPNsdzZmcFsyuazaVN_LYhMKEuqUtJisUL3MouACaUF8rb8HxLpwIc9dZMUgzpEfOVpq9uDRY0SYWi0He6EtK0FXf6zpv-prLeQW41J91GITxVQ");
  background-repeat: no-repeat;
  background-size: cover; */
  height:85vh; /* Dit aanpassen zodat de hoogte van de achtergrond wordt aangepast */
}

a{
  color:#333;
  text-decoration: none;
}

.container{
  margin: auto;
  width: 72%;
}

section{
  padding-top: 100px;
}

/* ----- BUTTONS ----- */

.btn{
  padding: 10px 25px;
  border-radius: 25px;
}

.btn-full{
  background-color: orange;
  color: #fff;
  font-size: 18px;
}

/* ----- PARAGRAPH ----- */
p{
  line-height: 145%;
  width: 70%;
  margin: 0px auto 25px auto;
}

/* ----- H1 H2 H3 ----- */

h1,
h2{
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2{
  text-align: center;
}

/* Oranje lijn onder h2 */
h2:after{
  display:block;
  height: 2px;
  background-color: orange;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}